*{
    background-color: #1D004D;
}
header{
    display: flex;
    height: 1000px;
    padding-bottom: 40px;
}

.block-one{
    width: 50%;
    margin-top: 150px;
}
.block-two{
    width: 87%;
    background-image: url(imageee.png);
    object-fit: cover;
    background-size: cover;
}
header h1{
    font-family: 'Questrial', sans-serif;
    font-size: 87px;
    color: white;
    margin-left: 60px;
}
header p{
    color: #4D9F9F;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-left: 60px;

}
.btn a{
    background: none;
}
.btn{
    background-color: #51B6B6;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
padding: 18px 28px;
border-radius: 8px;
border: none;
margin: 20px 0 0 60px;
position: relative;
cursor: pointer;
animation: float 2s ease-in-out infinite;

background-size: 200% auto;
background-image: linear-gradient(90deg, rgba(140,82,255,1) 21%, rgba(92,225,230,1) 85%);
/* background: rgb(140,82,255);
background: linear-gradient(90deg, rgba(140,82,255,1) 21%, rgba(92,225,230,1) 85%); */ 
animation: gradient-shifttt 4s ease infinite;

}

@keyframes gradient-shifttt {
    0% {background-position: 100% 50%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
  
}
@keyframes float {
    0%, 100% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
  }
.btn:hover{
    background: none;
    border: 2px solid #51B6B6;
}

header a{
    color: white;
    background-color: #51B6B6;
font-weight: 800;
}
.hand{
    text-align: center;
}
.hand img{
    width: 70px;
    height: 160px;
}
.hand h3{
    font-family: 'Questrial', sans-serif;
    font-size: 66px;
    line-height: 79px;
    color: #99D9D9;
    padding: 0 90px;
}
.hand-span{
    font-family: 'Lobster', sans-serif;
    font-size: 66px;
    color: #4D9F9F;
    /* display: flex;
    align-items: center; */
}
.hand p{
    font-family: 'Montserrat', sans-serif;
color: white;
font-size: 16px;
text-align: center;
line-height: 29px;

}
.hand-btn{
    margin: 40px 40px 0 20px;
   
background-size: 200% auto;
background-image: linear-gradient(90deg, rgba(140,82,255,1) 21%, rgba(92,225,230,1) 85%);
/* background: rgb(140,82,255);
background: linear-gradient(90deg, rgba(140,82,255,1) 21%, rgba(92,225,230,1) 85%); */ 
animation: gradient-shiftt 4s ease infinite;

}

@keyframes gradient-shiftt {
    0% {background-position: 100% 50%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
  
}
.hand-btn a{
    background: none;
    color: white;
    font-weight: 800;

}
.formate h2{
    text-align: center;
    font-size: 66px;
    color: white;
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;

}
.formate-span{
    font-size: 68px;
    color: #73CFCF;
    font-family: 'Questrial', sans-serif;

}
.formate p{
    font-family: 'Montserrat', sans-serif;
   color: white;
   font-size: 30px;
   text-align: center;
}
.formate-block{
    padding: 5px 0 0px 0;
}
.formate img{
    width: 70px;
    padding-left: 20px;
}
.price h2{
    text-align: center;
    color: white;
    font-size: 66px;
    font-family: 'Questrial', sans-serif;
padding-top: 130px;
}
.price-block h4{
    font-size: 100px;
    color: #69DFDF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
margin-top: 80px;
}
.price-block p{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
margin-top: -140px;
font-weight: bold;
font-size: 29px;
}
.price-pos-rel {
    text-decoration: line-through;
    background-color: #4D9F9F;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    padding: 10px;
    position: absolute; 
    transform: translateX(40%); 
    left: 35%;
    top: 120px; 
    transform: rotate(-20deg);
}
.price-block-relative {
    position: relative;
}
.foot{
    display: flex;
}
footer h3{
    color: white;
    font-size: 63px;
    font-family: 'Montserrat', sans-serif;
font-weight: bold;
position: relative;
z-index: 999;
background: none;
padding: 40px 0 0 50px;
}
footer{
  
    position: relative;
    height: 800px;
}
footer img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 43%;
}
footer h4{
    font-size: 39px;
    font-family: 'Montserrat', sans-serif;
color: white;
padding-left: 51px;
margin-top: 40px;
}
.btn-foot{  
    padding: 35px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
border: none;
border-radius: 10px;
background-size: 200% auto;
background-image: linear-gradient(90deg, rgba(140,82,255,1) 21%, rgba(92,225,230,1) 85%);
/* background: rgb(140,82,255);
background: linear-gradient(90deg, rgba(140,82,255,1) 21%, rgba(92,225,230,1) 85%); */ 
animation: gradient-shift 4s ease infinite;

}

@keyframes gradient-shift {
    0% {background-position: 100% 50%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
  }
.btn-foot a{
    background: none;
    color: white;
    font-size: 34px;
    font-weight: bold;
}
footer p{
    font-family: 'Montserrat', sans-serif;
color: white;
font-size: 26px;
font-weight: bold;
text-align: center;
position: relative;
z-index: 999;
background: none;
margin-top: 100px;
}
.fa-handshake{
    display: block;
    font-size: 73px;
    padding: 0 0 60px 50px;
    color: white;
}
.none{
    display: none;
}
.none-foot{
    display: none;
}

@media (max-width: 480px) {
    header{
        display: flex;
        height: 700px;
        padding-bottom: 10px;
    }
    .none{
        display: block;
        object-fit: cover;
        width: 350px;
        margin-left: 10px;
    }
    .block-one{
        width: 100%;
        margin-top: 20px;
    }
    .block-two{
        display: none;
    }
    header h1{
        font-size: 47px;
        margin: -12px 0 0 12px;
        font-weight: bold;
    }
    header p{
        margin-left: 12px;
    
    }
    .btn{
    margin: 20px 0 0 20px;
    }

  
    .hand{
        text-align: center;
    }
    .hand img{
        width: 50px;
        height: 130px;
        margin-top: 40px;
    }
    .hand h3{
        font-size: 39px;
        line-height: 47px;
     padding: 0 20px;
     margin-top: -7px;
    }
    .hand-span{
        font-size: 56px;
    }
    .hand-btn{
        margin: 20px 0 0 2px;
    }
    .hand p{
    line-height: 22px;
    
    }

.formate h2{
    font-size: 46px;
    padding-top: 20px;

}
.formate-span{
    font-size: 48px;

}
.form-add{
    font-size: 40px;
}
.formate p{
   font-size: 18px;
   text-align: center;
}
.formate-block{
    padding: 5px 10px;
}
.formate img{
    width: 35px;
    padding-left: 10px;
}




.price h2{
    font-size: 55px;
padding-top: 30px;
font-weight: bold;
}
.price-block h4{
    font-size: 80px;
margin-top: 40px;
}
.price-block p{
margin-top: -110px;
font-size: 29px;
}
.price-pos-rel {
    font-size: 20px;
    padding: 5px;
    left: 10%;
    top: 80px; 
}





.foot{
    display: flex;
}
footer h3{
    font-size: 33px;
font-weight: bold;
position: relative;
z-index: 999;
background: none;
padding: 30px 0 0 10px;
}
footer{
    position: relative;
    height: 600px;
}
footer img{
    display: none;
}
.none-foot{
    position: absolute;
    bottom: -40px;
    display: block;
    right: -5px;
    width: 80%;
}
footer h4{
    font-size: 19px;
padding-left: 16px;
margin-top: 15px;
z-index: 999;
position: relative;
background: none;
}
.btn-foot{  
    margin-top: 120px;
    padding: 24px;
    margin-left: 10px;
    z-index: 999;
    position: relative;
}
.btn-foot a{
    font-size: 18px;
    font-weight: bold;
}
footer p{
font-size: 12px;
text-align: left;
position: relative;
z-index: 999;
top: -70px;
}
.fa-handshake{
    display: block;
    font-size: 43px;
    padding: 0 0 60px 15px;
}
}